{%extends "base.html"%}
{%block content%}
<div class="container text-center rounded my-5 mx-5 bg-white">
    <div class="my-4 mx-4">
        <div class="row">
            <div class="col">
                <img class="img1 my-4" src="/static/silmarilion.jpg" height="500">
            </div>
            <div class="col">
                <h3>The Silmarillion</h3><br>
                <p>Author: J. R. R. Tolkien</p>
                <p>The Silmarillion is the history of the War of the Exiled Elves against the Enemy, which all takes
                    place in the North-west of the world (Middle-earth). Several tales of victory and tragedy are caught
                    up in it; but it ends with catastrophe, and the passing of the Ancient World, the world of the long
                    First Age.</p><br><br>
                <p>Price: 15.79$ or x coins </p><br>
                <input class="btn btn-primary mx-2" type="submit" value="Buy with money">
                <input class="btn btn-primary mx-2" type="submit" value="Buy with coins">
            </div>
        </div>
    </div>
</div>
{%endblock%}
